apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
components:
  - ../../monitoring/otel
  - ../../monitoring/cadvisor
  - ../../monitoring/rbacs
  - ../../services/searcher/deployment
  - ../../services/symbols/deployment
  - ../../services/pgsql
  - ../../services/codeinsights-db
  - ../../services/codeintel-db
  # Add sourcegraph as default storage class name
  - ../../storage-class/sourcegraph
  - ../../enable/service-discovery
patches:
  # To support searcher and symbols as both statefulset and deployment
  - path: patches/searcher/searcher.patchesJson6902.yaml
    target:
      group: apps
      kind: StatefulSet|Deployment
      name: searcher
      version: v1
  - path: patches/symbols/symbols.patchesJson6902.yaml
    target:
      group: apps
      kind: StatefulSet|Deployment
      name: symbols
      version: v1
  - path: patches/remove/securityContext-container-0.yaml
    target:
      group: apps
      kind: StatefulSet|Deployment
      name: .*
      version: v1
  - path: patches/remove/securityContext-daemonset.yaml
    target:
      group: apps
      kind: DaemonSet
      name: otel-agent
      version: v1
  - path: patches/remove/securityContext-databases.yaml
    target:
      group: apps
      kind: StatefulSet|Deployment
      name: codeinsights-db|codeintel-db|pgsql|sourcegraph-frontend
      version: v1
  - path: patches/remove/securityContext-initContainer.yaml
    target:
      group: apps
      kind: Deployment
      name: sourcegraph-frontend
      version: v1
  - path: patches/remove/securityContext-container-1.yaml
    target:
      group: apps
      kind: Deployment|StatefulSet
      name: redis-cache|redis-store|indexed-search
      version: v1
  - path: patches/blobstore/blobstore.Deployment.yaml
  - path: patches/cadvisor/cadvisor.DaemonSet.yaml
  - path: patches/frontend/sourcegraph-frontend.Deployment.yaml
  - path: patches/gitserver/gitserver.StatefulSet.yaml
  - path: patches/indexed-search/indexed-search.StatefulSet.yaml
  - path: patches/otel-collector/otel-collector.Deployment.yaml
  - path: patches/precise-code-intel/worker.Deployment.yaml
  - path: patches/redis/redis-cache.Deployment.yaml
  - path: patches/redis/redis-store.Deployment.yaml
  - path: patches/syntect-server/syntect-server.Deployment.yaml
  - path: patches/worker/worker.Deployment.yaml
