apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
# Run all services with default values
resources:
  # Sourcegraph Main Stack
  - ../../base/sourcegraph
components:
  # Monitoring Stack
  - ../../components/monitoring
  - ../../components/monitoring/tracing
