apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

replacements:
  - source:
      fieldPath: data.TLS_HOST
      kind: SourcegraphBuildConfig
      name: sourcegraph-kustomize-config
    targets:
      - fieldPaths:
          - spec.tls.*.hosts
          - spec.rules.*.host
        select:
          kind: Ingress
          name: sourcegraph-frontend
  - source:
      fieldPath: data.TLS_INGRESS_CLASS_NAME
      kind: SourcegraphBuildConfig
      name: sourcegraph-kustomize-config
    targets:
      - fieldPaths:
          - spec.ingressClassName
          - metadata.annotations.[kubernetes.io/ingress.class]
        select:
          kind: Ingress
          name: sourcegraph-frontend
  - source:
      fieldPath: data.TLS_CLUSTER_ISSUER
      kind: SourcegraphBuildConfig
      name: sourcegraph-kustomize-config
    targets:
      - fieldPaths:
          - metadata.annotations.[cert-manager.io/cluster-issuer]
        select:
          kind: Ingress
          name: sourcegraph-frontend
patches:
  - path: patches/frontend.Ingress.yaml
