apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
configMapGenerator:
  - name: sourcegraph-kustomize-env
    behavior: merge
    literals:
      - STORAGECLASS_NAME=SOURCEGRAPH_OVERLAY_PLACEHOLDER
patchesJson6902:
  - target:
      kind: StatefulSet
      name: searcher|symbols|indexed-search|grafana|gitserver
      group: apps
      version: v1
    path: patches/replace-storageclass-name-sts.yaml
  - target:
      kind: StatefulSet|Deployment
      name: searcher
      group: apps
      version: v1
    path: patches/replace-storageclass-name-sts.yaml
  - target:
      kind: StatefulSet|Deployment
      name: symbols
      group: apps
      version: v1
    path: patches/replace-storageclass-name-sts.yaml
  - target:
      kind: PersistentVolumeClaim
      name: .*
      version: v1
    path: patches/replace-storageclass-name-pvc.yaml
configurations:
  - patches/transformer.yaml
vars:
  - name: STORAGECLASS_NAME
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: sourcegraph-kustomize-env
    fieldref:
      fieldpath: data.STORAGECLASS_NAME
