apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-nginx
# Creates resources to deploy the controller for AWS
resources:
  - https://github.com/kubernetes/ingress-nginx/deploy/static/provider/aws?ref=controller-v1.5.1
components:
  - ../../../components/ingress/nginx-controller
