apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    description: generic S3-like blobstore for storing LSIF uploads.
    kubectl.kubernetes.io/default-container: blobstore
  labels:
    app.kubernetes.io/component: blobstore
    deploy: sourcegraph
    sourcegraph-resource-requires: no-cluster-admin
  name: blobstore
spec:
  minReadySeconds: 10
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: blobstore
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: blobstore
        deploy: sourcegraph
    spec:
      containers:
        - name: blobstore
          image: us-docker.pkg.dev/sourcegraph-images/internal/blobstore:6.7.375@sha256:e7070ec4eb45d818ce20b65de95c330db3c32795cad9f47a537ff7a49b31147d
          livenessProbe:
            httpGet:
              path: /
              port: blobstore
              scheme: HTTP
            initialDelaySeconds: 60
            timeoutSeconds: 5
          ports:
            - containerPort: 9000
              name: blobstore
          readinessProbe:
            httpGet:
              path: /
              port: blobstore
              scheme: HTTP
            periodSeconds: 5
            timeoutSeconds: 5
          resources:
            limits:
              cpu: "1"
              memory: 500M
            requests:
              cpu: "1"
              memory: 500M
          securityContext:
            # Required to prevent escalations to root.
            runAsUser: 100
            runAsGroup: 101
            allowPrivilegeEscalation: false
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - mountPath: /data
              name: blobstore-data
      securityContext:
        runAsUser: 100
        fsGroup: 101
        fsGroupChangePolicy: "OnRootMismatch"
      volumes:
        - name: blobstore-data
          persistentVolumeClaim:
            claimName: blobstore
