apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
components:
  - pod-tmp-gc
replacements:
  - source:
      fieldPath: data.SSD_NODE_PATH
      kind: SourcegraphBuildConfig
      name: sourcegraph-kustomize-config
    targets:
      - fieldPaths:
          - spec.template.spec.containers.*.volumeMounts.*.mountPath
        select:
          group: apps
          kind: DaemonSet
          name: pod-tmp-gc
