apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
# DO NOT REMOVE: Handle updating endpoints configs for frontend
components:
  - ../../utils/endpoints
########################## HOW TO USE ########################################
# IMPORTANT: No changes should be made above this line
# Step 1 Uncomment the "name" and "count" for service you'd like to scale
# Step 2 Update the replica count value
# Step 3 Include this component in your overlay: ../../components/custom/replica
################################################################################
replicas:
  - name: gitserver
    count: 2
  # - name: indexed-search
  #   count: 1
  # - name: searcher
  #   count: 1
  # - name: sourcegraph-frontend
  #   count: 2
  # - name: precise-code-intel-worker
  #   count: 1
