apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
components:
  - monitoring
  - ../../storage-class/k3s
patches:
  - path: patches/sourcegraph-frontend.Ingress.yaml
# k3s deploy type added in 5.0.0
configMapGenerator:
  - name: sourcegraph-frontend-env
    behavior: merge
    literals:
      - DEPLOY_TYPE=kustomize-k3s
