apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 0
    target:
      group: apps
      kind: Deployment|StatefulSet
      name: .*
      version: v1
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      group: apps
      kind: Deployment|StatefulSet
      name: pgsql|codeintel-db|codeinsights-db
      version: v1
