apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    deploy: sourcegraph
    sourcegraph-resource-requires: no-cluster-admin
    app.kubernetes.io/component: prometheus
  name: prometheus
data:
  prometheus.yml: |
    # Prometheus global config
    global:
      scrape_interval:     30s
      evaluation_interval: 30s
      # scrape_timeout is set to the global default (10s).

    # Alertmanager configuration
    alerting:
      alertmanagers:
        # bundled alertmanager, started by prom-wrapper
        - static_configs:
            - targets: ['127.0.0.1:9093']
          path_prefix: /alertmanager
        # add more alertmanagers here

    # Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
    rule_files:
      - '/sg_config_prometheus/*_rules.yml'
      - '/sg_prometheus_add_ons/*_rules.yml'

    # Configure targets to scrape
    scrape_configs:

      # Scrape prometheus itself for metrics.
      - job_name: 'builtin-prometheus'
        static_configs:
          - targets: ['127.0.0.1:9092']

      - job_name: 'builtin-alertmanager'
        metrics_path: /alertmanager/metrics
        static_configs:
          - targets: ['127.0.0.1:9093']

      ##########################################################################################
      # cadvisor 
      ##########################################################################################

      - job_name: 'kubernetes-pods'
        dns_sd_configs:
          - names:
            - 'cadvisor.default.svc.cluster.local'
            - 'cadvisor.ns-sourcegraph.svc.cluster.local'
            type: A
            port: 48080
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance
            regex: (.*)\.(.*)
            replacement: ${1}_${2}
          - source_labels: [container_label_io_kubernetes_pod_name]
            target_label: name
        metric_relabel_configs:
          - source_labels: [container_label_io_kubernetes_pod_namespace]
            regex: kube-system
            action: drop
          - source_labels: [container_label_io_kubernetes_container_name, container_label_io_kubernetes_pod_name]
            regex: (.+)
            action: replace
            target_label: name
            separator: '-'
      
      ##########################################################################################
      # sourcegraph-services 
      ##########################################################################################
      
      - job_name: 'sourcegraph-services'
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance
            regex: (.*)\.(.*)
            replacement: ${1}_${2}
        metric_relabel_configs:
          - source_labels: [container_label_io_kubernetes_pod_namespace]
            regex: kube-system
            action: drop
        file_sd_configs:
          - files:
              - '/sg_prometheus_add_ons/*_targets.yml'

      - job_name: 'sourcegraph-statefulsets'
        dns_sd_configs:
          - names:
            - 'symbols.default.svc.cluster.local'
            - 'symbols.ns-sourcegraph.svc.cluster.local'
            - 'symbols.$SG_NAMESPACE.svc.cluster.local'
            - 'searcher.default.svc.cluster.local'
            - 'searcher.ns-sourcegraph.svc.cluster.local'
            - 'searcher.$SG_NAMESPACE.svc.cluster.local'
            - 'gitserver.default.svc.cluster.local'
            - 'gitserver.ns-sourcegraph.svc.cluster.local'
            - 'gitserver.$SG_NAMESPACE.svc.cluster.local'
            - 'sourcegraph-frontend.default.svc.cluster.local'
            - 'sourcegraph-frontend.ns-sourcegraph.svc.cluster.local'
            - 'sourcegraph-frontend.$SG_NAMESPACE.svc.cluster.local'
            - 'indexed-search.default.svc.cluster.local'
            - 'indexed-search.ns-sourcegraph.svc.cluster.local'
            - 'indexed-search.$SG_NAMESPACE.svc.cluster.local'
            - 'indexed-search-indexer.default.svc.cluster.local'
            - 'indexed-search-indexer.ns-sourcegraph.svc.cluster.local'
            - 'indexed-search-indexer.$SG_NAMESPACE.svc.cluster.local'
            type: SRV
        relabel_configs:
          - source_labels: [__meta_dns_srv_record_target]
            target_label: __address__
            regex: (.*)\.
            replacement: ${1}:6060
          - source_labels: [__meta_dns_srv_record_target]
            target_label: __address__
            regex: ^(indexed-search.*)\.
            replacement: ${1}:6070
          - source_labels: [__meta_dns_srv_record_target]
            target_label: __address__
            regex: (.*)\.(indexed-search-indexer.*)\.
            replacement: ${1}.${2}:6072
          - source_labels: [__meta_dns_srv_record_port]
            target_label: __meta_dns_srv_record_port
            replacement: 6060
          - source_labels: [__address__]
            regex: ^(indexed-search).*$
            target_label: __meta_dns_srv_record_port
            replacement: 6070
          - source_labels: [__meta_dns_name]
            target_label: job
            regex: (.*)\..*\..*\..*\..*
            replacement: ${1}
          - source_labels: [__meta_dns_srv_record_target]
            regex: (.*)\.(.*)\..*\..*\..*\..*\..*
            target_label: instance
            replacement: ${2}_${1}
        metric_relabel_configs:
          - source_labels: [__address__]
            target_label: instance
            regex: (.*)\:.*
            replacement: $1:6060
          - source_labels: [__address__]
            target_label: instance
            regex: (.*)\.(.*)\..*\..*\..*\..*\..*
            replacement: ${2}_${1}

  prometheus_targets.yml: |
    - labels:
        nodename: "sourcegraph-services"
        job: cadvisor
      targets:
        - cadvisor:48080
    - labels:
        nodename: "sourcegraph-services"
        job: sourcegraph-frontend
      targets:
        - sourcegraph-frontend:6060
    - labels:
        nodename: "sourcegraph-services"
        job: github-proxy
      targets:
        - github-proxy:6060
    - labels:
        nodename: "sourcegraph-services"
        job: repo-updater
      targets:
        - repo-updater:6060
    - labels:
        nodename: "sourcegraph-services"
        job: worker
      targets:
        - worker:6060
    - labels:
        nodename: "sourcegraph-services"
        job: worker-executors
      targets:
        - worker-executors:6996
    - labels:
        nodename: "sourcegraph-services"
        job: syntect-server
      targets:
        - syntect-server:6060
    - labels:
        nodename: "sourcegraph-services"
        job: precise-code-intel-worker
      targets:
        - precise-code-intel-worker:6060
    - labels:
        nodename: "sourcegraph-services"
        job: pgsql
      targets:
        - pgsql:9187
    - labels:
        nodename: "sourcegraph-services"
        job: codeintel-db
      targets:
        - codeintel-db:9187
    - labels:
        nodename: "sourcegraph-services"
        job: codeinsights-db
      targets:
        - codeinsights-db:9187
    - labels:
        nodename: "sourcegraph-services"
        job: redis-cache
      targets:
        - redis-cache:9121
    - labels:
        nodename: "sourcegraph-services"
        job: redis-store
      targets:
        - redis-store:9121
    - labels:
        nodename: "sourcegraph-services"
        job: node-exporter
      targets:
        - node-exporter:9100
    - labels:
        nodename: "sourcegraph-services"
        job: otel-collector
      targets:
        - otel-collector:8888

  extra_rules.yml: |
    groups:
    - name: container.rules
      rules:
        - record: container:process_cpu_seconds_total:ratio_rate5m
          expr: sum by (instance) (rate(process_cpu_seconds_total[5m])) / engine_daemon_engine_cpus_cpus
        - record: container:process_cpu_seconds_total:sum
          expr: sum by (instance) (irate(process_cpu_seconds_total[1m]))
        - record: container:process_resident_memory_bytes:max
          expr: max by (instance) (process_resident_memory_bytes)
        - record: container:process_virtual_memory_bytes:max
          expr: max by (instance) (process_virtual_memory_bytes)
