apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    description: Manages background processes.
  labels:
    deploy: sourcegraph
    sourcegraph-resource-requires: no-cluster-admin
    app.kubernetes.io/component: worker
  name: worker
spec:
  minReadySeconds: 10
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: worker
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        deploy: sourcegraph
        app: worker
    spec:
      securityContext:
        runAsUser: 100
        fsGroup: 101
        fsGroupChangePolicy: OnRootMismatch
      containers:
        - name: worker
          env:
            - name: PRECISE_CODE_INTEL_UPLOAD_BACKEND
              value: blobstore
            - name: PRECISE_CODE_INTEL_UPLOAD_AWS_ENDPOINT
              value: http://blobstore:9000
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            # OTEL_AGENT_HOST must be defined before OTEL_EXPORTER_OTLP_ENDPOINT to substitute the node IP on which the DaemonSet pod instance runs in the latter variable
            - name: OTEL_AGENT_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: http://$(OTEL_AGENT_HOST):4317
          image: index.docker.io/sourcegraph/worker:6.6.2517@sha256:23a3c0d768a2d89ef0ca289febf45f3623e0ba3ad7bbf9c53975b92fa221b478
          terminationMessagePolicy: FallbackToLogsOnError
          livenessProbe:
            httpGet:
              path: /healthz
              port: debug
              scheme: HTTP
            initialDelaySeconds: 60
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: debug
              scheme: HTTP
            periodSeconds: 5
            timeoutSeconds: 5
          ports:
            - containerPort: 3189
              name: http
            - containerPort: 6060
              name: debug
            - containerPort: 6996
              name: prom
          resources:
            limits:
              cpu: "2"
              memory: 4G
            requests:
              cpu: 500m
              memory: 2G
          securityContext:
            # Required to prevent escalations to root.
            allowPrivilegeEscalation: false
            runAsUser: 100
            runAsGroup: 101
