apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    description: Code Insights Postgres DB instance.
  labels:
    app.kubernetes.io/component: codeinsights-db
    deploy: sourcegraph
    sourcegraph-resource-requires: no-cluster-admin
  name: codeinsights-db
spec:
  minReadySeconds: 10
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: codeinsights-db
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        deploy: sourcegraph
        app: codeinsights-db
        group: backend
    spec:
      initContainers:
        - name: correct-data-dir-permissions
          image: index.docker.io/sourcegraph/alpine-3.14:insiders@sha256:5e047c7f753cab4a61d32728c5669ff3d6394c84ab317e8cd8ee375a402324e6
          command: ["sh", "-c", "if [ -d /var/lib/postgresql/data/pgdata ]; then chmod 750 /var/lib/postgresql/data/pgdata; fi"]
          volumeMounts:
            - mountPath: /var/lib/postgresql/data/
              name: disk
          resources:
            limits:
              cpu: "10m"
              memory: "50Mi"
            requests:
              cpu: "10m"
              memory: "50Mi"
          securityContext:
            # Required to prevent escalations to root.
            allowPrivilegeEscalation: false
            runAsGroup: 70
            runAsUser: 70
      containers:
        - name: codeinsights
          image: index.docker.io/sourcegraph/codeinsights-db:insiders@sha256:2a245d1acbadb3f5e0fa448dd123c4edd098bfb24355087509f8b8d917b96961
          env:
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_PASSWORD # Accessible by Sourcegraph applications on the network only, so password auth is not used.
              value: password
            - name: POSTGRES_USER
              value: postgres
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
            - name: POSTGRESQL_CONF_DIR
              value: "/conf"
          terminationMessagePolicy: FallbackToLogsOnError
          ports:
            - containerPort: 5432
              name: codeinsights-db
          resources:
            limits:
              cpu: "4"
              memory: 2Gi
            requests:
              cpu: "4"
              memory: 2Gi
          securityContext:
            allowPrivilegeEscalation: false
            runAsGroup: 70
            runAsUser: 70
          volumeMounts:
            - mountPath: /var/lib/postgresql/data/
              name: disk
            - mountPath: /conf
              name: codeinsights-conf
        - env:
            - name: DATA_SOURCE_NAME
              value: postgres://postgres:@localhost:5432/?sslmode=disable
            - name: PG_EXPORTER_EXTEND_QUERY_PATH
              value: /config/code_insights_queries.yaml
          image: index.docker.io/sourcegraph/postgres_exporter:insiders@sha256:e1715c4e2b865670b347cdd442702718b97518922f50ddc18f471716cffd0e70
          terminationMessagePolicy: FallbackToLogsOnError
          name: pgsql-exporter
          ports:
            - name: pgsql-exporter
              containerPort: 9187
          resources:
            limits:
              cpu: 10m
              memory: 50Mi
            requests:
              cpu: 10m
              memory: 50Mi
      terminationGracePeriodSeconds: 120
      securityContext:
        runAsUser: 70
        fsGroup: 70
        fsGroupChangePolicy: "OnRootMismatch"
      volumes:
        - name: disk
          persistentVolumeClaim:
            claimName: codeinsights-db
        - name: codeinsights-conf
          configMap:
            defaultMode: 511
            name: codeinsights-db-conf
