apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
replacements:
  - source:
      fieldPath: data.PRIVATE_REGISTRY
      kind: ConfigMap
      name: sourcegraph-kustomize-buildConfig
    targets:
      - fieldPaths:
          - spec.template.spec.containers.*.image
          - spec.template.spec.initContainers.*.image
        options:
          delimiter: /sourcegraph
        select:
          group: apps
          kind: Deployment
      - fieldPaths:
          - spec.template.spec.containers.*.image
          - spec.template.spec.initContainers.*.image
        options:
          delimiter: /sourcegraph
        select:
          group: apps
          kind: StatefulSet
      - fieldPaths:
          - spec.template.spec.containers.*.image
          - spec.template.spec.initContainers.*.image
        options:
          delimiter: /sourcegraph
        select:
          group: apps
          kind: DaemonSet
