apiVersion: v1
kind: ConfigMap
metadata:
  name: executor-config
  labels:
    app: executor
    deploy: sourcegraph
    sourcegraph-resource-requires: no-cluster-admin
    app.kubernetes.io/component: executor
# Refer to https://docs.sourcegraph.com/admin/executors/deploy_executors_binary#step-2-setup-environment-variables on how to populate these variables
data:
  EXECUTOR_FRONTEND_URL: "http://sourcegraph.example.com"
  EXECUTOR_FRONTEND_PASSWORD: "our-shared-secret"
  EXECUTOR_USE_FIRECRACKER: "false"
  EXECUTOR_QUEUE_NAMES: "batches"
  EXECUTOR_JOB_NUM_CPUS: "0"
  EXECUTOR_JOB_MEMORY: "0"
  DOCKER_HOST: "tcp://localhost:2375"
  # Note: Must match the mount point shared with the docker-in-docker (dind) sidecar
  TMPDIR: "/scratch"
