apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
  - path: patches/replace-storageclass-name-sts.yaml
    target:
      group: apps
      kind: StatefulSet
      name: searcher|indexed-search|grafana|gitserver
      version: v1
  - path: patches/replace-storageclass-name-pvc.yaml
    target:
      kind: PersistentVolumeClaim
      name: .*
      version: v1
