apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  - patches/sourcegraph.StorageClass.yaml
components:
  - ../name-update
replacements:
  - source:
      fieldPath: data.STORAGECLASS_PROVISIONER
      kind: ConfigMap
      name: sourcegraph-kustomize-buildConfig
    targets:
      - select:
          kind: StorageClass
          name: sourcegraph
        fieldPaths:
          - provisioner
  - source:
      fieldPath: data.STORAGECLASS_PARAM_TYPE
      kind: ConfigMap
      name: sourcegraph-kustomize-buildConfig
    targets:
      - select:
          kind: StorageClass
          name: sourcegraph
        fieldPaths:
          - parameters.type
